Answer 1.

for loop,
example- Printing the first 5 even number

In [5]:
for i in range(1, 11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

for while loop 
example - calculating the sum of numbers until the sum exceeds 100.

In [8]:
total_sum = 0
current_number = 1

while total_sum <= 100:
    total_sum += current_number
    current_number += 1

print("Sum:", total_sum)

Sum: 105

Answer 2.

using for a loop-

In [9]:
sum_of_numbers = 0
for num in range(1, 11):
    sum_of_numbers += num

In [10]:
product_of_numbers = 1
for num in range(1, 11):
    product_of_numbers *= num

In [14]:
print("Sum of the first 10 natural numbers:", sum_of_numbers)
print("Product of the first 10 natural numbers:", product_of_numbers)

Sum of the first 10 natural numbers: 55
Product of the first 10 natural numbers: 3628800

using for a while loop-

In [15]:
sum_of_numbers = 0
num = 1
while num <= 10:
    sum_of_numbers += num
    num += 1

In [16]:
num = 1
product_of_numbers = 1
while num <= 10:
    product_of_numbers *= num
    num += 1

In [17]:
print("Sum of the first 10 natural numbers:", sum_of_numbers)
print("Product of the first 10 natural numbers:", product_of_numbers)

Sum of the first 10 natural numbers: 55
Product of the first 10 natural numbers: 3628800

Both programs will produce the same output, displaying the sum and product of the first 10 natural numbers.

Answer 3.

In [29]:
def calculate_electricity_bill(units):
    if units <= 100:
        total_bill = units * 4.5
    elif units <= 200:
        total_bill = 100 * 4.5 + (units - 100) * 6
    elif units <= 300:
        total_bill = 100 * 4.5 + 100 * 6 + (units - 200) * 10
    else:
        total_bill = 100 * 4.5 + 100 * 6 + 100 * 10 + (units - 300) * 20

    return total_bill

In [30]:
def main():
    try:
        units_consumed = int(input("Enter the units of electricity consumed in a month: "))
        if units_consumed < 0:
            raise ValueError("Units consumed cannot be negative.")
        
        total_bill = calculate_electricity_bill(units_consumed)
        print("Total electricity bill: Rs. {:.2f}".format(total_bill))
        
    except ValueError as e:
        print("Error:", e)

In [31]:
if __name__ == "__main__":
    main()

Enter the units of electricity consumed in a month:  310

Total electricity bill: Rs. 2250.00

Answer 4.

#using for loop -

In [33]:
numbers = list(range(1, 101))
result_list = []

In [34]:
for number in numbers:
    cube = number ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        result_list.append(number)

In [35]:
print(result_list)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

#for while loop -

In [36]:
numbers = list(range(1, 101))
result_list = []

In [37]:
i = 0
while i < len(numbers):
    cube = numbers[i] ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        result_list.append(numbers[i])
    i += 1

In [41]:
print(result_list)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

Answer 5.

In [45]:
def count_vowels(string):
    vowels = "aeiouAEIOU"
    vowel_count = 0

    for char in string:
        if char in vowels:
            vowel_count += 1
            return vowel_count

In [49]:
if __name__ == "__main__":
    string = "I want to become a data scientist"
    vowel_count = count_vowels(string)
    print(f"Number of vowels in the string: {vowel_count}")

Number of vowels in the string: 1

In [50]:
 print(f"Number of vowels in the string: {vowel_count}")

Number of vowels in the string: 1